
/*#top {
    position: relative;
 

}

#bottom {
    position: relative;
  
  
}*/
/*
#left{
     position: relative;
   
}

#right {
    float: right;

    
}*/
/*
.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}*/

/*
#top a:link,#top a:visited{
    color: white;
    font-weight : bold;
    background-image: url(l1_1.png);
    text-decoration: none;
    height: 60px;
    width: 120px;
    padding-top: 6px;
    padding-bottom:6px;
    padding-left: 40px;
    padding-right: 40px;

}

#top a:active, #top a:hover {
    color:red;
    padding-left: 40px;
    padding-right: 40px;
    height: 60px;
    width:120px;
    font-weight : bold;
    background-image: inherit;
    text-decoration :none;
}*/
#left a:link{
    color: red;
   
    background:inherit;
    text-decoration: none;
}

#left a:hover,left a:active{
    color: black;
    text-decoration : none;
    text-decoration: underline;

}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    background-image: url(l1_1.png);
    text-decoration: none;
    height: 60px;
    width: 125px;
    padding-top: 6px;
    padding-bottom:6px;
    padding-left: 38px;

    padding-right:38px;
}

#top a:link:hover, #top a:visited:hover {
    color:red;
    padding-left: 38px;
    padding-right: 38px;
    height: 60px;
    width:125px;
    font-weight : bold;
    background-image: inherit;
    text-decoration :none;
}
/*
#contenthome a:link:hover, #contenthome a:visited:hover  {
    color: n; 
    width: 300px;
    padding-bottom: 10px;
    padding-top: 10px;
    background: inherit;
    font-weight : bold;
    text-decoration : none;
    font-size: larger;
}*/
